@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*modular scale*/
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    /*CSS variables*/
    --primaryColor: #013151;
    --backgroundColor: #ecf6ff;
    --backgroundColorsecondary: #ecf6ff;

    --headingColor: #a54505; /* Färg för rubriker */
    --paragraphColor: #414141; /* Färg för brödtext */
    --textColor: #323232;
    --sidebarColor: #7b90a7;
    --selectBoxColor: #ffffff;
}

.block-container {
    background-color: var(--backgroundColor);
}
header.stAppHeader {
    background-color: var(--backgroundColor) !important;
    color: #c15e24 !important;
}
body {
    background-image: 'static/background_resekollen.jpg'; /* Bakgrundsbilden i static mappen */
    background-size: cover; /* Gör att bilden täcker hela skärmen */
    background-position: center; /* Centrerar bilden */
    background-repeat: no-repeat; /* Förhindrar upprepning */
    background-attachment: fixed; /* Fixerar bakgrunden vid scrollning */
}
/* Lägger till en semi-transparent overlay för att minska opaciteten */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Justerar opaciteten (0 = genomskinlig, 1 = ingen genomskinlighet) */
    z-index: -1; /* Placerar det bakom allt annat */
}

/* lobotomized owl - 
selector looks for children of body with another sibling */
/*body * + * {
/*margin-top: var(0);
/*    background-color: var(--backgroundColorsecondary);
/*}

/* finds selector on attribute level */
[data-testid|="stheader"]{
    display: box;
    fill: #013151; 
    color: #013151; 
    opacity: 1; /* Ser till att ikonen är helt synlig */

}

h1, h2, h3 {
    color: var(--headingColor);
    font-family: "Noto Sans", sans-serif;
}

p {
    color: var(--paragraphColor);
    font-family: "Noto Sans", sans-serif;
}

h1 {
    font-size: calc(var(--s3) * 1.5); /* Ökar storleken på huvudrubriken */
    color: var(--headingColor);
    margin-top: 1rem; /* Justerar marginalen ovanför rubriken */
    margin-bottom: 1rem; /* Justerar marginalen under rubriken */
    text-align: left; /* Centrerar rubriken */
    padding: 0.5rem 1rem; /* Lägger till lite utrymme runt rubriken */
    /*background-color: rgba(60, 116, 68, 0.05); /* Subtil bakgrundsfärg (justerbar) */
    /*border-radius: 8px; /* Gör hörnen rundade */
    /*box-shadow: 0px 2px 5px rgba(49, 122, 79, 0.473); /* Lägger till en subtil skugga */
}

h2 {
    font-size: var(--s2); /* Ökar storleken för underrubriken */
    color: var(--headingColor); /* Använder headingColor för underrubriken */
    margin-top: 0.5rem; /* Justerar marginalen ovanför underrubriken */
    margin-bottom: 0.5rem; /* Justerar marginalen under underrubriken */
    /*text-align: center;  Centrerar underrubriken */
}

/* . to use class selector */
.stAppViewBlockContainer {
    background-image: linear-gradient(to bottom right, rgb(221, 240, 255) , rgb(184, 184, 255));
    padding-top: var(--s1);
    padding-left: var(--s3);
    padding-right: var(--s3);
    max-width:100%; /* 110 characters bredd, bredden på den 'blå' main sektionen */ 

}

.header-container {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 1rem;
    text-align: left;
}

.header-container img {
    max-width: 120px;
    margin-bottom: 10px;
}

.header-container h1 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--headingColor);
    margin-bottom: 10;
}

.header-container p {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--paragraphColor);
    margin-top: 0;
    max-width: 800px;
    text-align: left;
}


/* Styling för logotypen */
.logo {
    max-width: 100px; /* Justera storleken på logotypen */
    margin-bottom: 1rem; /* Utrymme under logotypen */
    /*display: block; /* Gör logotypen centrerad */
    margin-left: auto; /* För att centrera logotypen */
    margin-right: auto;
}


/* Ändrar bakgrundsfärg och textfärg på selectboxar */
div[data-baseweb="select"] > div {
    background-color: var(--selectBoxColor); /* Bakgrundsfärg */
    color: #013151; /* Textfärg */
    border: 1px solid #003253; /* Kantfärg */
    padding: 3px;
    border-radius: 5px; /* Rundade hörn */
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    height: auto; /* anpassar sig till höjden*/
    max-width: 300px;
    width: auto; 
    line-height: 1.5; 
    display: flex; /* centrering av elementet */
    align-items: center; /* Centrerar texten vertikalt */
}

div[data-baseweb="select"] > div > div {
    color: #c15e24; /* Textfärg i selectboxen */
}

/* Ändrar utseendet när selectboxen är i fokus */
div[data-baseweb="select"]:focus-within {
    outline: none;
    border: 1px solid #002550; /* Ändrar färg för kantlinjen vid fokus */
    box-shadow: 0 0 5px #004088; /* En liten skuggeffekt vid fokus */
    height: auto; /* anpassar sig till höjden*/
    max-width: 300px;
    width: auto;
}

/* Styling för textinput */
div[data-testid="stTextInput"] {
    background-color: var(--selectBoxColor);
    color: #5b2907; /* Textfärg */
    border: 2px solid #7871af;
    border-radius: 7px; /* Rundade hörn */
    padding: 5px; /* Ger tillräcklig inre marginal */
    font-family: "Noto Sans", sans-serif; /* Konsekvent font */
    font-size: 16px; /* Konsekvent textstorlek */
    max-width: 300px; /* Samma som selectbox */
    width: auto; /* Anpassar sig till innehållet */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtil skugga */
}

/* Fokus-effekt */
div[data-testid="stTextInput"]:focus-within {
    border: 2px solid #004088; /* Samma fokusfärg som selectbox */
    box-shadow: 0 0 5px #004088; /* Ljusare skugga vid fokus */
}

/* Stylar tabellerna*/
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: sans-serif;
    width: 100%;
    border: 1px solid #dddddd;
}
.styled-table th, .styled-table td {
    padding: 12px 15px;
    text-align: left;
}
.styled-table thead th {
    background-color: #5764ac; /* Justera till en ljusare färg om nödvändigt */
    color: #ffffff; /* Gör texten vit */
    font-size: 1.1em; /* Gör texten lite större */
    font-weight: bold; /* Lägg till fetstil för tydlighet */
    text-align: left;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #57568a;
}

/* Ändrar textfärg för Streamlit-huvudknappar */
.stButton>button, .stRadio label, .stSidebarButton>button {
    color: #7a1a02 !important; 
 }
 /* Förbättrar marginaler och paddings runt radio-knappar */
.stRadio > div {
    margin-top: 0 !important;  /* Tar bort övre marginal */
    padding-top: 0 !important; /* Tar bort eventuell övre padding */
}
.stRadio > div:first-child label {
    display: none;  /* Gömmer den första labeln */
}

#MainMenu {visibility: visible;} /* hamburger-menyn */
header {
    visibility: visible; /*deploy knappen*/
    height: 0;
    background: none !important;
    background-color: transparent !important;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}

/* Här ändras 'bakgrundsfärgen' till sidopanelen*/
[data-testid="stSidebar"] {
    background-color: #7b9ea7;
}

/* Gör radioknapparna mer som knappar */
[data-testid="stSidebar"] label {
    display: flex;
    align-items: center; /* Centrerar innehållet lodrätt */
    justify-content: left; /* Centrerar innehållet horisontellt */
    margin: 5px 0px;
    padding: 5px 8px;
    width: 50%;
    border: 1px solid #879dab;
    border-radius: 5px;
    background-color: #5b7992;
    color: #ffffff !important;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

[data-testid="stSidebar"] label:hover {
    background-color: #6b9abe;
    border-color: #6b9abe;
}
/* Tar bort den konstiga rutan runt texten på knapparna */
.stRadio div {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

/* Markerad knapp (vald radioknapp) */
.stRadio div[role="radiogroup"] label[data-selected="true"] {
    background-color: #7ba5cf !important;
    border-color: #7ba5cf !important;
}

[data-testid="stSidebar"] > div:first-child {
    font-size: 1.2rem;
    font-weight: bold; /* Gör den fet för att särskilja från knapparna */
    color: #2f3540; /* Ser till att titeln är kvar som ett blockelement */
}
